{% extends "layouts/base.html" %}

{% block content %}
    {{ super() }}
    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>Software in Polar Science: <em>6-7 February 2024, British Antarctic Survey, Cambridge &amp; Online!</em></h2>
        </header>
    </section>

    <!-- Highlights -->
    <section class="wrapper style1">
        <div class="container">
            <div class="row gtr-200">
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h3>Tuesday 6<sup>th</sup> February<br /><em>Workshop Day</em></h3>
                    </div>
                </section>
                <section class="col-8 col-12-narrower">
                    <div class="box highlight">
                        <h3>Wednesday 7<sup>th</sup> February<br /><em>Networking Day</em></h3>
                    </div>
                </section>
            </div>
            <div class="row gtr-200">
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h4>Software Carpentry</h4>
                        <p>A focus on Python introducory software skills, we will be running the <a href="https://swcarpentry.github.io/python-novice-gapminder/" target="_blank">Plotting and Programming in Python</a> Software Carpentry.</p>
						<p>Please <a href="https://software-in-polar-science.github.io/2024-02-06-cambridge-online/" target="_blank">visit our Carpentries website for more information.</a></p>
                </div>
                </section>
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h4>Software Pico-talks and Showcases</h4>
                        <p>Covering:<br />AI for Net Zero; Environmental Modelling; Reproducible Research; Data Management; AI for Conservation; Earth Observation; Software for Engineering</p>
                    </div>
                </section>
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h4>Keynote and Panel Discussion with:</h4>
                        <ul class="speakers">
                            <li>Facilitated by <a href="https://www.bas.ac.uk/profile/pilchi/" target="_blank">Pilvi Saarikoski (BAS)</a</li>
                            <li><a href="https://scotthosking.com/" target="_blank">Dr Scott Hosking</a></li>
                            <li><a href="https://www.turing.ac.uk/people/business-team/alden-conner" target="_blank">Dr Alden Conner</a></li>
                            <li><a href="https://www.software.ac.uk/our-people/shoaib-sufi" target="_blank">Shoaib Sufi (Keynote Speaker)</a></li>
                            <li><a href="https://sadielbartholomew.github.io/" target="_blank">Sadie Bartholomew</a></li>
                        </ul></p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Gigantic Heading -->
    <section class="wrapper style2">
        <div class="container">
            <header class="major">
                <h2>Connect with multidisciplinary software users and developers!</h2>
                <p>The event is intended to highlight the role software in polar and environmental research, championing sustainability in its use and helping attendees to gain visibility and training in digital infrastructure.</p>
            </header>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style3">
        <div class="container">
            <header>
                <h2>This event is being organised in collaboration with:</h2>
                <p><br /></p>
            </header>
            <div class="row">
                <div class="col-6 col-12-narrower front-logo"><img class="front-logo" src="images/logo/bas_colour_transparent.png" alt="British Antarctic Survey Logo" /></div>
                <div class="col-6 col-12-narrower front-logo"><img class="front-logo" src="images/logo/SSIFullColour.png" alt="Software Sustainability Institute Logo" /></div>
                <div class="col-4 col-12-narrower front-logo"><img class="front-logo front-logo-border" style="margin-top:25px;" src="images/logo/C2D3-logo-inline-RGB-gradient.jpg" alt="C2D3 Logo" /></div>
                <div class="col-4 col-12-narrower front-logo"><img class="front-logo" src="images/logo/iccs_logo.png" alt="Institute of Computing for Climate Science Logo" /></div>
                <div class="col-4 col-12-narrower front-logo"><img class="front-logo front-logo-border" style="margin-top:20px;width:50%" src="images/logo/ATI_logo_black_W500px.jpg" alt="The Alan Turing Institute Logo" /></div>
            </div>
        </div>
    </section>
{% endblock %}
