{% extends "layouts/base.html" %}

{% block content %}
    {{ super() }}
    <!-- Banner -->
    <section id="banner">
        <header>
            <h2>Software in Polar Science: <em>6-7 February 2024, British Antarctic Survey, Cambridge &amp; Online!</em></h2>
        </header>
    </section>

    <!-- Highlights -->
    <section class="wrapper style1">
        <div class="container">
            <div class="row gtr-200">
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h3>Tuesday 6<sup>th</sup> February<br /><em>Workshop Day</em></h3>
                    </div>
                </section>
                <section class="col-8 col-12-narrower">
                    <div class="box highlight">
                        <h3>Wednesday 7<sup>th</sup> February<br /><em>Networking Day</em></h3>
                    </div>
                </section>
            </div>
            <div class="row gtr-200">
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h4>Carpentries and Software Workshops</h4>
                        <p>Details TBC</p>
                    </div>
                </section>
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h4>Software Showcases</h4>
                        <p>Details TBC</p>
                    </div>
                </section>
                <section class="col-4 col-12-narrower">
                    <div class="box highlight">
                        <h4>Panel Discussion</h4>
                        <p>Details TBC</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Gigantic Heading -->
    <section class="wrapper style2">
        <div class="container">
            <header class="major">
                <h2>Connect with multidisciplinary software users and developers!</h2>
                <p>The event is intended to highlight the role software in polar and environmental research, championing sustainability in its use and helping attendees to gain visibility and training in digital infrastructure.</p>
            </header>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style3">
        <div class="container">
            <header>
                <h2>Save the date, check back for updates and come along!</h2>
            </header>
        </div>
    </section>
{% endblock %}
