{% extends "layouts/page.html" %}

{% block page_content %}

<h2>The team and organisers of Software in Polar Science 2024</h2>
<p>This event is being put on thanks to the efforts of numerous individuals
and the support of the following organisations.</p>

<section id="cta" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-3 col-12-narrower front-logo"><img class="front-logo" src="images/logo/bas_colour_transparent.png" alt="British Antarctic Survey Logo" /></div>
            <div class="col-3 col-12-narrower front-logo"><img class="front-logo" src="images/logo/SSIFullColour.png" alt="Software Sustainability Institute Logo" /></div>
            <div class="col-3 col-12-narrower front-logo"><img class="front-logo" src="images/logo/C2D3-logo-inline-RGB-gradient.jpg" alt="C2D3 Logo" /></div>
            <div class="col-3 col-12-narrower front-logo"><img class="front-logo" style="width:50%" src="images/logo/ATI_logo_black_W500px.jpg" alt="The Alan Turing Institute Logo" /></div>
        </div>
    </div>
</section>

{% endblock %}
