{% extends "layouts/page.html" %}

{% block page_content %}

    <p>The event is split into two days, the first offering new skills and experience in collaboration with the <a href="https://bas.ac.uk">British Antarctic Survey</a> and it's partners, the second offering an opportunity to connect with the wider community.</p>

    <h2>Programme Overview</h2>

    <table class="default"><tr><td style="width:50%">
    <h3>Training and workshop day<br /><a href="https://swcarpentry.github.io/python-novice-gapminder/">Plotting and Programming in Python</a></h3>
    <ul>
        <li>09:00 - 10:30 - Session one, introduction</li>
        <li>10:30 - 10:45 - Break</li>
        <li>10:45 - 12:30 - Session two, working with data</li>
        <li>12:30 - 13:15 - Lunch</li>
        <li>13:15 - 15:00 - Session three, control structures</li>
        <li>15:00 - 15:15 - Break</li>
        <li>15:15 - 16:30 - Session four, functions and conclusions</li>
    </ul>
    </td>
    <td style="width:50%">
    <h3>Showcasing and panel discussion day<br /></h3>
    <ul>
        <li>10:00 - 10:15 - Opening remarks</li>
        <li>10:15 - 10:30 - Showcase Pico Talks</li>
        <li>10:30 - 10:45 - Break</li>
        <li>10:45 - 12:30 - Showcase session</li>
        <li>12:30 - 13:15 - Lunch</li>
        <li>13:15 - 15:15 - Keynote and panel discussion</li>
        <li>15:15 - 15:30 - Break</li>
        <li>15:30 - 16:00 - Conclusions and closing remarks</li>
    </ul>
    </td></tr>

    <tr><td>
    <h2>Tuesday 6th February 2024</h2>
    <h3>Training and workshop day</h3>
    <p>The first day of the event will be intended for those who wish to upskill or learn new software skills with the support of <a href="https://bas.ac.uk">British Antarctic Survey</a> and <a href="https://iccs.cam.ac.uk/">ICCS</a> engineers. </p>

    <p>We expect this will be of most interest to researchers keen to use software, from any and all science areas.</p>
    </td><td>
    <h2>Wednesday 7th February 2024</h2>
    <h3>Showcasing, keynote and panel discussion day</h3>
    <p>The second day of the event will be dedicated to showcasing of polar science that uses software, as well as inviting various organisations along to learn more, network and openly discuss parallels with their own domains. The highlight will be a panel discussion focusing on why software, and more broadly digital infrastructure, might be pivotal to the way we carry out environmental research in the future.</p>

    <p>This should be of interest to active researchers but also to those involved in strategic thinking around digital infrastructure matters, at any stage of their career.</p>
    </td></tr></table>
    <!--<p><em>If you work in environmental research, especially in the polar domains, and would like to showcase your work, please do get in touch with jambyr &lt;at&gt; bas &lt;dot&gt; ac &lt;dot&gt; uk!</em></p>-->
{% endblock %}
