{% extends "layouts/page.html" %}

{% block page_content %}
    <p>The event is split into two days, the first offering new skills and experience in collaboration with the <a href="https://bas.ac.uk">British Antarctic Survey</a> and it's partners, the second offering an opportunity to connect with the wider community.</p>

    <h2>Programme Overview</h2>
    <h3>Training and workshop day</h3>
    <ul>
        <li></li>
    </ul>


    <h2>Tuesday 6th February 2024</h2>
    <h3>Training and workshop day</h3>
    <p>The first day of the event will be intended for those who wish to upskill or learn new software skills with the support of <a href="https://bas.ac.uk">British Antarctic Survey</a> engineers. We intend to run at least one <a href="https://carpentries.org">Carpentries session</a> as well as invite representatives from <a href="https://www.turing.ac.uk">The Alan Turing Institute</a>, <a href="https://software.ac.uk">Software Sustainability Institute</a> and other partners, to elaborate on how they use these skills in "the wild".</p>

    <p>We expect this will be of most interest to researchers keen to use software, from any and all science areas.</p>

    <h2>Wednesday 7th February 2024</h2>
    <h3>Showcasing and panel discussion day</h3>
    <p>The second day of the event will be dedicated to showcasing of polar science that uses software, as well as inviting various organisations along to learn more, network and openly discuss parallels with their own domains. The highlight will be a panel discussion focusing on why software, and more broadly digital infrastructure, might be pivotal to the way we carry out environmental research in the future.</p>

    <p>This should be of interest to active researchers but also to those involved in strategic thinking around digital infrastructure matters, at any stage of their career.</p>

    <p><em>If you work in environmental research, especially in the polar domains, and would like to showcase your work, please do get in touch with jambyr &lt;at&gt; bas &lt;dot&gt; ac &lt;dot&gt; uk!</em></p>
{% endblock %}
