{% extends "layouts/page.html" %}

{% block page_content %}

<h3>Registration Closed<h3>

<!--<h2>Registration details</h2>
<p>For registration, we have individual links for both days, depending on whether you want to
attend <em>in person or online</em>...</p>

<h3>In-person attendance</h3>

<ul>
  <li><a href="https://www.c2d3.cam.ac.uk/civicrm/event/info?reset=1&id=871" target="_blank">Click here to register for <em>the training and workshop day</em>.</a></li>
  <li><a href="https://www.c2d3.cam.ac.uk/civicrm/event/info?reset=1&id=881" target="_blank">Click here to register for <em>showcasing and panel discussion day</em>.</a></li>
</ul>

<h3>Online attendance (via zoom)</h3>

<ul>
  <li><a href="https://www.c2d3.cam.ac.uk/civicrm/event/info?reset=1&id=861" target="_blank">Click here to register for <em>the training and workshop day</em>.</a></li>
  <li><a href="https://www.c2d3.cam.ac.uk/civicrm/event/info?reset=1&id=891" target="_blank">Click here to register for <em>showcasing and panel discussion day</em>.</a></li>
</ul>-->

<p><em>Please do get in touch with
<a href="mailto:jambyr@bas.ac.uk">jambyr &lt;at&gt; bas &lt;dot&gt; ac &lt;dot&gt; uk</a>!</em></p>

{% endblock %}
