{% extends "layouts/page.html" %}

{% block page_content %}

<h2>Registration details</h2>
<h3>These will appear very, very soon...</h3>

<p><em>In the meantime, please do get in touch with jambyr &lt;at&gt; bas &lt;dot&gt; ac &lt;dot&gt; uk!</em></p>

{% endblock %}
