<nav id="nav">
    <ul>
        <li{% if page == "index" %} class="current"{% endif %}><a href="index.html">Home</a></li>
        <li{% if page == "programme" %} class="current"{% endif %}><a href="programme.html">Programme</a></li>
        <li{% if page == "registration" %} class="current"{% endif %}><a href="registration.html">Registration</a></li>
        <li{% if page == "information" %} class="current"{% endif %}><a href="information.html">Information</a></li>
        <!--<li>
            <a href="#">Dropdown</a>
            <ul>
                <li><a href="#">Lorem dolor</a></li>
                <li><a href="#">Magna phasellus</a></li>
                <li><a href="#">Etiam sed tempus</a></li>
                <li>
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Lorem dolor</a></li>
                        <li><a href="#">Phasellus magna</a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam nisl</a></li>
                        <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                </li>
                <li><a href="#">Veroeros feugiat</a></li>
            </ul>
        </li>-->
    </ul>
</nav>
